*.tfstate
*.tfstate.backup
*.tfstate.*
.terraform.lock.hcl
# Local .terraform directories
.terraform/*
ansible/.terraform/*
ansible/virtual*
ansible/inventory.ini
ansible/transfer_loader_scripts.yml

#  Ignore variables files
*.auto.tfvars

#  Ignore override files
*.tfoverride

#  Ignore environment-specific files
.envrc
.env
#  Ignore CLI configuration files
.terraformrc
scylla-inventory.ini
terraform.rc.terraform/
variables.yml
terraform.auto.tfvars.json
.DS_Store
clusters
